<launch>

  <master auto="start"/>

  <!--
  <node pkg="tf" type="static_transform_publisher" name="realsense_to_odom_broadcaster" args="0 0 0 0 0 0 odom realsense_initial_frame 100" />

  <node pkg="tf" type="static_transform_publisher" name="realsense_to_camera_broadcaster" args=".4 0 .25 0 0 0 base_link camera_base_link 100" />
  -->


  <!-- arduino connections to ros -->
  <node pkg="rosserial_python" type="serial_node.py" name="serial_node_0">
    <param name="port" value="/dev/ttyACM0"/>
    <param name="baud" value="57600"/>
  </node>
  <node pkg="rosserial_python" type="serial_node.py" name="serial_node_1">
    <param name="port" value="/dev/ttyACM1"/>
    <param name="baud" value="57600"/>
  </node>


  <include file="$(find realsense_camera)/launch/r200_nodelet_rgbd.launch" />

  <node pkg="peach_bot_2dnav" type="peach_odom.py" name="peach_odom" >
  </node>

  <!-- nodelet manager -->
  <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager"/>

  <group ns="rtab">
    <!-- Visual SLAM -->
    <!-- the delete_db_on_start will reset the map -->
    <node name="pointcloud_to_depthimage" pkg="rtabmap_ros" type="rtabmap" output="screen">
      <param name="cloud" type="string" value="/camera/depth/points"/>
      <param name="camera_info" type="string" value="/camera/rgb/camera_info"/>
      <param name="image_raw" type="string" value="/camera/depth/points/image_raw"/>
      <param name="image" type="string" value="/camera/depth/points/image"/>
      <param name="_approx" type="bool" value="false"/>
      <param name="_fill_holes_size" type="int" value="2"/>
    </node>
peach_bot_2dnav

    <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="--delete_db_on_start">
      <!--<param name="subscribe_depth" type="bool" value="true"/>-->
      <!--<param name="subscribe_scan_cloud" type="bool" value="false"/>-->
      <!--<param name="subscribe_stereo" type="bool" value="false"/>-->
      <!--<param name="subscribe_scan" type="bool" value="false"/>-->

      <param name="depth_topic" type="string" value="/camera/depth/points/image_raw"/>

      <remap from="proj_map" to="/map"/>
      <remap from="goal" to="/move_base_simple/goal"/>
      <param name="frame_id" type="string" value="/base_link"/>
      <param name="map_frame_id" type="string" value="/map"/>
      <param name="queue_size" type="int" value="30"/>
      <param name="database_path" type="string" value="~/rtabmap.db" />
    </node>

  </group>




  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find PeachyBos_ros)/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find PeachyBos_ros)/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find PeachyBos_ros)/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find PeachyBos_ros)/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find PeachyBos_ros)/base_local_planner_params.yaml" command="load" />
    <!-- remap from="odom" to="odom" / -->
    <remap from="move_base_simple/goal" to="/rtab/goal_out" />
    <!-- param name="recovery_behaviors" type="list" value="[]" / -->
    <param name="recovery_behavior_enabled" type="bool"  value="false" />
    <param name="clearing_rotation_allowed" type="bool"  value="false" />
    <param name="controller_frequency" type="double"  value="5" />
    <param name="planner_patience" type="double"  value="999999" />

    <remap from="cmd_vel" to="/raw_cmd_vel"/>
  </node>


  <!-- todo fuse sesors 
	<node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization"> 
	    <rosparam command="load" file="$(find peach_bot_2dnav)/robot_localization.yaml" />
	</node>
  -->

</launch>
